# Managed by Ansible.
RIGCTLD_MODEL={{ radio_key_daemon_rigctld_model }}
RIGCTLD_DEVICE={{ radio_key_daemon_rigctld_device }}
RIGCTLD_BAUD={{ radio_key_daemon_rigctld_baud }}
RIGCTLD_BIND={{ radio_key_daemon_rigctld_bind }}
RIGCTLD_PORT={{ radio_key_daemon_rigctld_port }}
